@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  background-color: #E9EAE6;
}

.bg-primary-eco{
  background-color: #17858A;
}

.text-primary-eco{
  color: #17858A;
}

.shadow-eco{
  box-shadow: 5px 5px 6px rgba(39, 39, 39, 0.2);
}

.border-right{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.bg-body{
  background-color: #E9EAE6;
}

.bg-light-white{
  background-color: #fafaf9;
}

.text-primary {
  color: #17858A; 
}
* {
  text-decoration: none;
  font-family: "Poppins", sans-serif !important;
  text-transform: none !important;
}

body {
  background-color: #f5f5f5;
}

.middle-screen{
  height: 40vh !important;
}

.chart-container {
  position: relative;
  height: 100%;
  width: 100%;

}
